TELEGRAM_BOT_TOKEN=XXXXX
TELEGRAM_ALLOWED_USER_IDS=CCCCC207
GEMINI_API_KEY=XXXXXXXXXXgWwEnA03C1PU1W0Nf1YRI1g
DEEPSEEK_API_KEY=XXXXXXXXXXXXXXXXXXXXXXX588e2ef2b545912f91
CLAUDE_API_KEY=sk-aXXXXXXXXXXXXXXXXXXXXXXwstSDItBvRjloqGGYP3cEQlvGXxO8xgBKp-cMVmCvfPK4Jn01CCtNFkLOozXgVPgA5FTiHgy_Q-d2XgbQAA
MAX_ITERATIONS=5
MEMORY_WINDOW_SIZE=10
DEFAULT_PROVIDER=gemini

# UNB
USER_UNB=2CCCCCCC09
KEY_UNB=CCCCCC

LESSTOKEN_API_KEY=XXXXXXXXXXXXXXXXXXXXXXX588e2ef2b545912f91b3063fbe88985683667d6b1269b0c8953bf55554
LESSTOKEN_BASE_URL=https://lesstokens.hive-hub.ai

# Alterne para opencode se quiser usar o modelo local por padrão
DEFAULT_PROVIDER=gemini
OPENCODE_PORT=2XXXXX9

# Openrouter
OPENROUTER_API_KEY=sXXXXXXXXXXXXXXXXXXXXXXXXXX3000c5bed04e3aff08a689258d2409ba9f7ea25786639
# groq
GROQ_API_KEY=gsk_kDFI6KKB9ISapMulQQOoWGdyb3FYHXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# MAS-Doctorate Neo4j Aura (Sync)
NEO4J_URI=nXXXXXXXXXXXXXXXXneo4j.io
NEO4J_USER=XXXXXXXXXXXXXXXXXx   
NEO4J_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXXXXxKtTkSOkCfnO3eOAt1JCu2Ow-h8
NEO4J_DATABASE=1XXXX

# movemind
GEMINI_API_KEY2=AIzaXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXx